<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<style type="text/css">
.button {
	font: bold 18px Arial;
	text-decoration: none;
	background-color: #d8cece;
	color: #2714c7;
	padding: 4px 7px 5px 9px;
	border-top: 1px solid #CCCCF4;
	border-right: 2px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
}
</style>
</head>
<body>
	<div align="center">
		<br></br> <br></br> <a href="/generatePDF" class="button">Generate-PDF</a>
	</div>
</body>
</html>